doctype html
html
    head
        title Fractured League - Clans
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/clan.css' rel='stylesheet')
    body
        include include/top-bar.jade

        .backdrop-cover
            if message
                .well.message #{message}

            .page
                if results
                    .clan-heading Join Clan
                    form.clan-join-form.form-inline(action='/clan-join', method='post')
                        .form-group-lg
                            input.form-control(type='text', name='code', placeholder='Join Code')
                            input.join-clan.join-clan-btn(type='submit', value='Join Clan')
                else if clan
                    .clan-page
                        .clan-name Name: #{clan.name}
                        .clan-description Description: #{clan.description}
                        table.table.clan-table
                            tr
                                th Player
                                th Steam Name
                                th Group Member Since
                            each val, index in clan.Players
                                tr
                                    td
                                        a.clan-player(href='/profile?id=' + val.id)= val.username
                                    td= val.ingame_nick
                                    td= val.updatedAt
                else if player && !player.ClanId
                    .no-clans
                        .clan-heading You're not a part of something bigger? :(
                        .clan-heading
                            a.create-clan(href='/clan-create') Create a Clan
                            a.join-clan(href='/clan?browse=1') Join a Clan
                else
                    .clan-heading Your Clan
                    .clan-page
                        .clan-name Name: #{player.Clan.name}
                        .clan-description Description: #{player.Clan.description}
                        a.clan-action(href='/clan-leave') Leave Clan
                        a.clan-secret-reveal(href='#') View Join Code
                            span (SHARE ONLY WITH TRUSTED CLAN MEMBERS)
                        .clan-secret-code.hidden #{player.Clan.secret_code}
                        table.table.clan-table
                            tr
                                th Player
                                th Steam Name
                                th Group Member Since
                            each val, index in player.Clan.Players
                                tr
                                    td
                                        a.clan-player(href='/profile?id=' + val.id)= val.username
                                    td= val.ingame_nick
                                    td= val.updatedAt

        script(src='js/jquery-2.1.4.min.js')
        script(src='js/clan.js')