doctype html
html
    head
        title Fractured League
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/profile.css' rel='stylesheet')
    body
        include include/top-bar.jade

        .backdrop-cover
            if message
                .well.message #{message}

            .profile
                .profile-username #{profile.username}
                    a.profile-edit(href='/profile-edit')
                        i.fa.fa-pencil
                .profile-heading About
                .profile-subheading Steam:
                    .profile-steam-name #{profile.ingame_nick}
                .profile-subheading Role:
                    .profile-role #{profile.role}
                .profile-subheading About me:
                    .profile-text #{profile.profile_text}
                if profile.Clan
                    .profile-subheading Clan:
                        .profile-text #{profile.Clan.name}

        script(src='js/jquery-2.1.4.min.js')
        script(src='js/masonry.min.js')
