doctype html
html
    head
        title Fractured League - Seasons
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/season.css' rel='stylesheet')
    body
        include include/top-bar

        .backdrop-cover
            if message
                .well.message #{message}

            each season, index in rankings
                .season-table #{season.name}
                table.table
                    tr
                        th Ranking
                        th Team Name
                        th Wins
                        th Losses
                        th Ties
                    -var index = 0
                    each val, key in season.clans
                        tr
                            td #{++index}
                            td
                                a(href='/clan?id=' + key) #{val.name}
                            td #{val.wins}
                            td #{val.losses}
                            td #{val.ties}
                .season-heading #{matches[season.name]}

            each season, index in matches
                .season-table #{season.name}
                table.table.season-matches
                    tr
                        th Match results
                    each val, key in season.Matches
                        tr
                            td(data-href='/match?id=' + val.id)
                                a(href='/clan?id=' + val.TeamOne.id) #{val.TeamOne.name}
                                span.versus vs
                                a(href='/clan?id=' + val.TeamTwo.id) #{val.TeamTwo.name}

        script(src='js/jquery-2.1.4.min.js')
        script(src='js/season.js')