.top-bar
    a(href='/')
        img(src='img/logo.png' alt='logo')
    a(href='/leaders', class=path == '/leaders' ? 'active' : undefined)
        i.fa.fa-list-ol
        | Leaderboards
    a(href='/profile', class=path == '/profile' ? 'active' : undefined)
        i.fa.fa-user
        | Profile
    a(href='/clan', class=path == '/profile' ? 'active' : undefined)
        i.fa.fa-users
        | Clan
    a.help(href='help')
        i.fa.fa-question-circle
        | Help
    if !user
        a.register.btn.btn-primary(href='/register', class=path == '/register' ? 'hidden' : undefined) Sign Up
        a.login.btn.btn-primary(href='/login', class=path == '/login' ? 'hidden' : undefined) Login
    else
        a.logout.btn.btn-danger(href='/logout') Logout

style(type='text/css').
    @import url('../css/bootstrap.min.css');
    @import url('../css/font-awesome.min.css');

    @font-face {
        font-family: 'Aero Matics Display';
        src: url('../fonts/Aero Matics Display Regular.ttf');
    }

    @font-face {
        font-family: 'Aero Matics';
        src: url('../fonts/Aero Matics Regular.ttf');
    }

    html, body {
        height: 100%;
    }

    body {
        background: url(../img/background.png) no-repeat center center fixed;
        background-size: cover;
    }

    .backdrop-cover {
        height: calc(100% - 71px);
        background-color: rgba(39, 43, 48, 0.8);
        color: white;
        font-family: 'Aero Matics', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        margin: 0;
        overflow: scroll;
    }

    .top-bar {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 1em 1em 1em;
        border-bottom: thin solid darkgray;
        font-family: 'Aero Matics', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .top-bar a {
        color: white;
        display: inline-block;
        margin: 0 1em 0;
        font-size: 1.5em;
    }

    .top-bar img {
        height: 2em;
    }

    @keyframes backgroundMove {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: 28px 0;
        }
    }

    .top-bar .login,
    .top-bar .register,
    .top-bar .logout {
        float: right;
        margin: 0.2em 1em 0;
        font-size: 1.2em;
        font-family: 'Aero Matics', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .top-bar i {
        margin-right: 0.5em;
    }

    .message {
        margin: 2em;
        background-color: #1c1e22;
    }

    .match-join:hover {
        color: white;
        border-color: #c44c39;
        background: repeating-linear-gradient(-45deg, #c44c39, #c44c39 10px, black 10px, black 20px);
        animation: backgroundMove 0.5s linear infinite;
        background-size: 28px 100%;
    }